**Creation of simulated dataset of climate variables, based on Phoenix Park, Dublin weather station** 
As explained in the README file for this repository, this notebook aims to generate simulated data, based on analysis of government provided actual readings, for rainfall, atmospheric pressure, and minimum and maximum temperatures on a daily basis.

Climate predictions are of highly significant importance with concerns about human induced global warming.  

We start by getting the actual historical data that has been downloaded into an Excel spreadsheet, from the government website :  
(ref https://datatofish.com/read_excel/)

In [34]:
import pandas as pd
df = pd.read_excel ('Phoenix Park weather data.xlsx')

Display the header rows from the spreadsheet, which describe the file, then delete them (only run this once for each time the dataframe is loaded, otherwise data rows will be deleted). Count how many rows are left :
(ref https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)
(ref https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
(ref https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe)

In [35]:
print(df.iloc[0:12],0)
df = df.iloc[13:]
print(' ')
print('Number of rows ' , len(df.index))

                       Station Name: PHOENIX PARK Unnamed: 1 Unnamed: 2  \
0                           Station Height: 48 M         NaN        NaN
1                               Latitude:53.364          NaN        NaN
2                                             NaN        NaN        NaN
3                                             NaN        NaN        NaN
4                          date:  -  00 to 00 utc        NaN        NaN
5             rain:  -  Precipitation Amount (mm)        NaN        NaN
6       maxtp: -  Maximum Air Temperature (C)\t          NaN        NaN
7          mintp: -  Minimum  Air Temperature (C)        NaN        NaN
8   gmin:  -  09utc Grass Minimum Temperature (C)        NaN        NaN
9        soil:  -  Mean 10cm soil temperature (C)        NaN        NaN
10              cbl:   -  Mean CBL Pressure (hpa)        NaN        NaN
11                        ind:   -  Indicator (i)        NaN        NaN

   Unnamed: 3 Unnamed: 4
0         NaN        NaN
1         NaN        NaN
2         NaN        NaN
3         NaN        NaN
4         NaN        NaN
5         NaN        NaN
6         NaN        NaN
7         NaN        NaN
8         NaN        NaN
9         NaN        NaN
10        NaN        NaN
11        NaN        NaN   0
4797
4784

Number of rows  4784

Note : some of the columns described in the header have been deleted - those that we're not going to simulate.  
There are many data rows, so check programatically if any of them contain null values - as this would affect the statistical values such as 'mean' that will be used to create the simulated data.
(ref https://stackoverflow.com/questions/43424199/display-rows-with-one-or-more-nan-values-in-pandas-dataframe)

In [37]:
df1 = df[df.isna().any(axis=1)]
print (len(df1))

0

There aren't any null values, so we needn't worry about this.
Set the dataframe index to the date column - this is unique

In [ ]:
df.set_index('date')
print(df.iloc[13:20])

http://www.epa.ie/pubs/reports/research/climate/Reserach_Report_277.pdf